---
# bootstrap
bootstrap_extra_users:
  - name: adguardhome
    shell: /usr/sbin/nologin

# nickjj.acme_sh
acme_sh_git_version: 3.0.6

acme_sh_default_staging: false
acme_sh_default_dns_provider: dns_cf

acme_sh_default_extra_flags_issue: &flags --keylength 2048 --server letsencrypt
acme_sh_default_extra_flags_renew: *flags

acme_sh_default_issue_post_hook: &hook sleep 30 && chown adguardhome:adguardhome -R /etc/ssl/ansible
acme_sh_default_issue_renew_hook: *hook

acme_sh_domains: [domains: ["{{ ansible_hostname }}.simn.io"]]
acme_sh_default_install_cert_reloadcmd: sudo systemctl restart adguardhome

# bcook254.adguardhome
adguardhome_version: 0.107.71
adguardhome_manage_config: false

adguardhome_webhost: 0.0.0.0
adguardhome_upstream_dns:
  - https://cloudflare-dns.com/dns-query

adguardhome_language: en
adguardhome_dnshosts:
  - 0.0.0.0

adguardhome_anonymize_client_ip: true

adguardhome_tls_enabled: "true"
adguardhome_tls_server_name: "{{ ansible_hostname }}.simn.io"
adguardhome_tls_force_https: "true"
adguardhome_tls_certificate_path: /etc/ssl/ansible/{{ ansible_hostname }}.simn.io.pem
adguardhome_tls_private_key_path: /etc/ssl/ansible/{{ ansible_hostname }}.simn.io.key

adguardhome_filters:
  - enabled: "true"
    url: https://adguardteam.github.io/HostlistsRegistry/assets/filter_33.txt
    name: Steven Black's List
  - enabled: "true"
    url: https://adaway.org/hosts.txt
    name: AdAway Default Blocklist
  - enabled: "true"
    url: https://malware-filter.gitlab.io/malware-filter/urlhaus-filter-domains.txt
    name: Malicious Domains Blocklist
  - enabled: "true"
    url: https://adguardteam.github.io/AdGuardSDNSFilter/Filters/filter.txt
    name: AdGuard DNS filter

# artis3n.tailscale.machine
tailscale_args: --advertise-routes={{ network_hosts.cidr }} --accept-dns=false --advertise-exit-node
tailscale_oauth_ephemeral: false
