---
# bootstrap
bootstrap_extra_users:
  - name: adguardhome
    shell: /usr/sbin/nologin

# caddy_ansible.caddy_ansible
caddy_packages:
  - github.com/caddy-dns/cloudflare

caddy_config: |
  (cloudflare_tls) {
      tls {
          dns cloudflare {env.CLOUDFLARE_API_TOKEN}
      }
  }

  {{ caddy_adguard_host }} {
      import cloudflare_tls
      reverse_proxy 127.0.0.1:8080
  }

  {{ caddy_pdns_host }} {
      import cloudflare_tls
      reverse_proxy 127.0.0.1:8081
  }

# bcook254.adguardhome
adguardhome_version: 0.107.71
adguardhome_manage_config: true
adguardhome_webport: "8080"

adguardhome_upstream_dns:
  - "'[/simn.io/]127.0.0.1:5353'"
  - https://cloudflare-dns.com/dns-query

adguardhome_fallback_dns:
  - https://dns.quad9.net/dns-query

adguardhome_anonymize_client_ip: "true"
adguardhome_use_private_ptr_resolvers: "false"
adguardhome_rewrites_enabled: "false"
adguardhome_querylog_enabled: "false"

adguardhome_ratelimit: 60

adguardhome_user_rules:
  - "@@||s.youtube.com^"

adguardhome_language: en
adguardhome_dnshosts:
  - 0.0.0.0

adguardhome_filters:
  - enabled: "true"
    url: https://adguardteam.github.io/HostlistsRegistry/assets/filter_33.txt
    name: Steven Black's List
  - enabled: "true"
    url: https://adaway.org/hosts.txt
    name: AdAway Default Blocklist
  - enabled: "true"
    url: https://malware-filter.gitlab.io/malware-filter/urlhaus-filter-domains.txt
    name: Malicious Domains Blocklist
  - enabled: "true"
    url: https://adguardteam.github.io/AdGuardSDNSFilter/Filters/filter.txt
    name: AdGuard DNS filter

# artis3n.tailscale.machine
tailscale_args: --advertise-routes={{ default_vlan.cidr }},{{ management_zone.cidr }} --accept-dns=false --advertise-exit-node
tailscale_oauth_ephemeral: false

# PowerDNS.pdns
pdns_config_common:
  api: true
  api-key: "{{ powerdns_api_key }}"
  local-port: "5353"
  webserver: true
  webserver-address: 127.0.0.1
  webserver-allow-from: 127.0.0.1
  webserver-port: "8081"

pdns_config_specific: {}

pdns_config: "{{ pdns_config_common | combine(pdns_config_specific, recursive=True) }}"

database_name: /var/lib/powerdns/db.sqlite

pdns_backends:
  gsqlite3:
    database: "{{ database_name }}"

pdns_sqlite_databases_locations:
  - "{{ database_name }}"
