plugin: community.proxmox.proxmox
url: https://pve01.simn.io:8006

user: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          38363461376566303030373462643236303239346232653133626434386164336361373932646334
          3234643235663164326463656164396637666563613138610a376335636134333364616535323865
          36363463633365653032383365306336633761633962633237633864616564663838613330323335
          3761623061303732340a653764326633626434613761303036383337396238383561613234373137
          3364

password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          36656531366334373064366566376533376664643139643738383933326238343930616264376561
          3338356435633466613435343231393736663736623835390a663530336162346631623133373961
          31656164613730323964326233316631656434353236376363646237613331666437313035306432
          3265303263356334390a383363396437393964303430646161376234663631353932396165666432
          6362

want_facts: true

compose:
  ansible_host: >-
    inventory_hostname ~
    (
      '.priv.simn.io' if (proxmox_net0 | default({})).get('bridge') == 'vnet1' else
      '.pub.simn.io'  if (proxmox_net0 | default({})).get('bridge') == 'vnet2' else
      ''
    )

filters:
  - "'appliance' not in (proxmox_tags_parsed | default([]))"
  - "'oci' not in (proxmox_tags_parsed | default([]))"

keyed_groups:
  - key: proxmox_tags_parsed
    separator: ""
