---
- name: Enable IP forwarding (for Tailscale)
  ansible.posix.sysctl:
    name: "{{ item }}"
    value: "1"
    sysctl_set: true
    sysctl_file: /etc/sysctl.d/99-sysctl.conf
    state: present
    reload: true
  with_items:
    - net.ipv4.ip_forward
    - net.ipv6.conf.all.forwarding
  when: dns_prereq_enable_ip_forwarding

- name: Copy adguardhome systemd unit file
  ansible.builtin.copy:
    src: adguardhome.service
    dest: /etc/systemd/system/adguardhome.service
    owner: root
    group: root
    mode: "0644"
  when: dns_prereq_configure_adguardhome_service

- name: Check if NetworkManager is running
  ansible.builtin.systemd:
    name: NetworkManager
  register: nm_service
  failed_when: false
  when: dns_prereq_configure_nm_dns

- name: Configure NetworkManager DNS
  community.general.nmcli:
    conn_name: Wired connection 1
    dns4:
      - 1.1.1.1
      - 1.0.0.1
    dns4_search:
      - simn.io
    dns4_ignore_auto: true
    state: present
  when:
    - dns_prereq_configure_nm_dns
    - nm_service.status is defined
    - nm_service.status.ActiveState == "active"
