---
services:
  app:
    image: ghcr.io/atuinsh/atuin:v18.10.0
    environment:
      TZ: "{{ default_timezone }}"
      RUST_LOG: info
      ATUIN_DB_URI: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db/${POSTGRES_DB}
      ATUIN_HOST: 0.0.0.0
      ATUIN_OPEN_REGISTRATION: false
    command: server start
    labels:
      traefik.enable: true
      traefik.http.routers.atuin.rule: Host(`atuin.simn.io`)
      traefik.http.services.atuin.loadbalancer.server.port: "8888"
    ports:
      - 8888:8888
    networks:
      - default
      - traefik
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: postgres:17.7@sha256:eb37f58646a901dc7727cf448cae36daaefaba79de33b5058dab79aa4c04aefb
    env_file: .env
    volumes:
      - /opt/postgresql/atuin:/var/lib/postgresql/data
    restart: unless-stopped

networks:
  traefik:
    name: internal
    external: true
