[Unit]
Description=Tdarr Server Daemon
After=network.target
# Enable if using ZFS, edit and enable if other FS mounting is required to access directory
#Requires=zfs-mount.service

[Service]
User={{ tdarr_user }}
Group={{ tdarr_group }}

Type=simple
WorkingDirectory={{ tdarr_install_folder }}/Tdarr_Server
ExecStartPre={{ tdarr_install_folder }}/Tdarr_Updater                  
ExecStart={{ tdarr_install_folder }}/Tdarr_Server/Tdarr_Server
TimeoutStopSec=20
Restart=on-failure

[Install]
WantedBy=multi-user.target