[defaults]
host_key_checking = False
retry_files_enabled = False
roles_path = ./galaxy_roles/roles:./roles
collections_path = ./galaxy_roles/collections
inventory = ./inventory
vault_password_file = .vault_password
interpreter_python = auto_silent

[privilege_escalation]
become_ask_pass = False
