---
- hosts: all
  gather_facts: false
  roles:
    - bootstrap
    - geerlingguy.security

- hosts: pve
  roles:
    - network_interfaces
    - fstab_mounts
    - lae.proxmox
    - simoncaron.pve_acme
    - geerlingguy.nut_client
    - oefenweb.postfix
    - simoncaron.pve_nvidia_passthrough

- hosts: docker
  roles:
    - geerlingguy.docker
    - role: docker_compose
      tags: [docker-compose]

- hosts: forgejo
  roles:
    - geerlingguy.redis
    - geerlingguy.mysql
    - role: wzzrd.gitea.gitea
      tags: [forgejo]

- hosts: jellyfin
  roles:
    - jellyfin

- hosts: plex
  roles:
    - plex

- hosts: proxy
  roles:
    - geerlingguy.redis
    - role: simoncaron.traefik
      tags: [traefik]

- hosts: dns
  roles:
    - dns_prereq
    - caddy_ansible.caddy_ansible
    - PowerDNS.pdns
    - role: bcook254.adguardhome
      tags: [adguardhome]

- hosts:
    - dns
    - proxy
  tags: [tailscale]
  roles:
    - artis3n.tailscale.machine
