# Allow passing extra args to etcd
# https://www.talos.dev/v1.9/reference/configuration/v1alpha1/config/#Config.cluster.etcd
---
%{ if type == "controlplane" }
cluster:
  etcd:
    advertisedSubnets:
        - ${cluster_node_subnet}
%{ endif }