# Configures the machine node labels
# https://www.talos.dev/v1.9/reference/configuration/v1alpha1/config/#Config.machine
---
machine:
  nodeLabels:
    topology.kubernetes.io/region: ${proxmox_cluster}
    topology.kubernetes.io/zone: ${proxmox_node}
%{ for item in machine_labels ~}
    ${item.key}: "${item.value}"
%{ endfor ~}