# Configures the machine disks
# https://www.talos.dev/v1.9/reference/configuration/v1alpha1/config/#Config.machine.disks.
---
machine:
  disks:
%{ for disk in machine_disks ~}
    - device: ${disk.device}
      partitions:
%{ for partition in disk.partitions ~}
        - mountpoint: ${partition.mountpoint}
%{ if partition.size != "" }
          size: ${partition.size}
%{ endif }
%{ endfor ~}
%{ endfor ~}