# Configures the machine nameservers.
# https://www.talos.dev/v1.9/reference/configuration/v1alpha1/config/#Config.machine.network
---
machine:
  network:
    nameservers:
%{ for server in machine_network_nameservers ~}
      - ${server}
%{ endfor ~}
 