# Configures files on the machine.
# https://www.talos.dev/v1.9/reference/configuration/v1alpha1/config/#Config.machine.files.
---
machine:
  files:%{ for file in machine_install_files}
    - path: ${file.path}
      op: ${file.op}
      permissions: ${file.permissions}
      content: |- 
        ${indent(8,file.content)}%{ endfor}
