# Configures a caching DNS resolver for host workloads
# https://www.talos.dev/v1.8/talos-guides/network/host-dns/
# https://www.talos.dev/v1.9/reference/configuration/v1alpha1/config/#Config.machine.features.hostDNS
---
%{ if type == "controlplane" }
machine:
  features:
    hostDNS:
      enabled: true
      resolveMemberNames: true
      forwardKubeDNSToHost: true
%{ endif }