# Configure machine kubelet extraMounts to support Longhorn
# https://longhorn.io/docs/1.7.2/advanced-resources/os-distro-specific/talos-linux-support/#data-path-mounts
---
machine:
  kubelet:
    extraMounts:
%{ for mount in machine_kubelet_extraMounts }
      - destination: ${mount.destination}
        type: ${mount.type}
        source: ${mount.source}
        options:
%{ for option in mount.options }
          - ${option}
%{ endfor }
%{ endfor }