---
services:
  app:
    image: ghcr.io/rommapp/romm:4.4.0@sha256:056114e8fdab8d6b592d1330390e6203f08642d6ba17d1b3ad1681ce8fc8fee3
    environment:
      DB_HOST: db
      DB_NAME: romm
      DB_PORT: 5432
      HASHEOUS_API_ENABLED: "true"
      ROMM_DB_DRIVER: postgresql
    env_file: .env
    networks:
      - default
      - traefik
    labels:
      traefik.enable: true
      traefik.http.routers.romm.rule: Host(`romm.simn.io`)
      traefik.http.services.romm.loadbalancer.server.port: "8080"
    ports:
      - 8080:8080
    volumes:
      - /opt/romm/resources:/romm/resources
      - /opt/redis/romm:/redis-data
      - /opt/romm/assets:/romm/assets
      - /opt/romm/config:/romm/config
      - cifs-media-roms-volume:/romm/library/roms
    depends_on:
      db:
        condition: service_healthy
        restart: true
    restart: unless-stopped

  db:
    image: postgres:17.7@sha256:eb37f58646a901dc7727cf448cae36daaefaba79de33b5058dab79aa4c04aefb
    environment:
      POSTGRES_DB: romm
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWD}
    volumes:
      - /opt/postgresql/romm:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: [CMD-SHELL, "pg_isready -U ${DB_USER} -d romm"]
      start_period: 30s
      start_interval: 10s
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  cifs-media-roms-volume:
    driver_opts:
      type: cifs
      o: vers=3.1.1,_netdev,iocharset=utf8,noatime,dir_mode=0755,file_mode=0644,user={{ cifs_username }},pass={{ cifs_password }}
      device: //truenas01.simn.io/roms/us-retail

networks:
  traefik:
    name: internal
    external: true
