# onkeldom.traefik
traefik_version: 3.6.0
traefik_copy_default_rules: false

traefik_config:
  entryPoints:
    web:
      address: :80
      http:
        redirections:
          entryPoint:
            to: web-secure
            scheme: https
    web-secure:
      address: :443
      http:
        middlewares:
          - compress@file
        tls:
          certresolver: le

  providers:
    file:
      directory: /etc/traefik/rules
    redis:
      endpoints:
        - 127.0.0.1:6379
      password: "{{ traefik_redis_password }}"

  certificatesResolvers:
    le:
      acme:
        storage: /etc/traefik/acme/acme.json
        email: "{{ traefik_acme_email }}"
        dnsChallenge:
          provider: cloudflare
          delayBeforeCheck: "0"
          resolvers:
            - 1.1.1.1:53
            - 1.0.0.1:53

  serversTransport:
    insecureSkipVerify: true

  tls:
    options:
      default:
        minVersion: VersionTLS12

  accessLog:
    filePath: /var/log/traefik/access.log
    filters:
      statusCodes:
        - 400-600

  log:
    filePath: /var/log/traefik/traefik.log

# geerlingguy.redis
redis_bind_interface: 0.0.0.0
redis_databases: "1"

# artis3n.tailscale.machine
tailscale_oauth_ephemeral: false
